:root {
  --km-drag-handle-size: 16px;
}

.kameo {
  display: block;
  width: 100%;
  min-height: 150px;
  position: relative;
  caret-color: #000;
  outline: none;
}

.kameo > :first-child {
  margin-top: 0;
}

.kameo blockquote {
  border-left: 3px solid rgba(61, 37, 20, .12);
  margin: 24px 0;
  padding-left: 16px;
}

.km-form-element-view {
  position: relative;
  margin: 24px 0;
}

.km-form-element-view--formSubmit {
  display: flex;
  justify-content: flex-end;
}

.km-form-actions {
  visibility: hidden;
}

.km-form-element-view:hover .km-form-actions {
  visibility: visible;
}

.km-form-actions.hide,
.km-form-element-view:hover .km-form-actions.hide {
  display: none;
  pointer-events: none;
}
