.kameo {
  display: block;
  width: 100%;
  min-height: 150px;
  padding: 16px 20px;
  position: relative;
  caret-color: #000;
  outline: none;
}

.kameo--edit-mode {
  padding: 16px 54px;
}

.kameo > :first-child {
  margin-top: 0;
}

.kameo blockquote {
  border-left: 3px solid rgba(61, 37, 20, .12);
  margin: 24px 0;
  padding-left: 16px;
}

.km-form-element-view {
  position: relative;
  margin: 24px 0;
}

.km-form-element-view--formCheckbox,
.km-form-element-view--formSwitch {
  margin: 10px 0;
}

.km-form-element-view--formCheckbox .km-form-actions,
.km-form-element-view--formSwitch .km-form-actions {
  top: -4px;
}

.km-form-element--formRadioButtons[orientation="vertical"] {
  max-width: 300px;
}

.km-form-element-view--formSubmit {
  display: flex;
  justify-content: flex-end;
}

.km-form-element-view--formSignature {
  display: flex;
  justify-content: center;
}

.km-form-element--formSignature {
  height: 320px;
}

.km-form-actions {
  transition: opacity ease-in 0.15s;
}

.km-form-actions.hide {
  opacity: 0;
  pointer-events: none;
  transition: none;
}

.km-is-empty:before {
  position: absolute;
  height: 0;
  content: attr(data-placeholder);
  opacity: 30%;
  pointer-events: none;
}
